/* header.scss */
$height-header : 75px;
header {
  background-color: $color-dk-gray;
  color: $color-white;
  .navbar {
    border-radius: 0;
  }
  .navbar-default {
    background-color: $color-dk-gray;
    border: none;
  }
  .navbar-default .navbar-nav>li>a {
    color: $color-white;
    text-transform: uppercase;
    &:hover {
      color: $color-accent;
    }
    &:focus {
      color: $color-accent;
    }
    @media (min-width: 768px) {
      padding-top: 35px;
      height: $height-header;
    }
  }
  .navbar-brand {
    background-image: url("/assets/images/prep-hoops-logo.svg");
    background-size: 135px;
    background-repeat: no-repeat;
    background-position: 10px;
    width: 180px;
    height: $height-header;
  }
}

