/* layout.scss */

html,
body {
  padding: 0;
  margin: 0;
}

#goToAdmin, #dashboardBanner {
  display: inline-block;
  margin-bottom: 10px;
}
#goToAdmin {
  margin-top: 2px;
}
#article {
  border: solid;
}
.border {
  border: solid;
}
.bottom {
  height: 40px;
}
.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}
.datepicker {
  display: inline;
}
.search {
  font-weight: bold;
}
