/* layout.scss */

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;

}
body {
  background-image: url("/assets/images/bg-main.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #000;
}
a {
  color: $color-accent;
}
.page-wrapper {
  min-height: 100%;
  margin-bottom: -$height-footer;
}
.page-wrapper:after {
  content: "";
  display: block;
}
footer, .page-wrapper:after {
  /* .push must be the same height as footer */
  height: $height-footer;
}
main {
  background-color: $color-white;
  margin: 20px 20px 40px;
}
table {
  overflow: hidden;
}
table td {
  width: 50px;
}








#goToAdmin, #dashboardBanner {
  display: inline-block;
  margin-bottom: 10px;
}
#goToAdmin {
  margin-top: 2px;
}
#article {
  border: solid;
  padding-left: 3px;
  margin-bottom: 3px;
}
#runFeeds {
  width: 200px;
  margin-top: 3px;
}
.cell {
  width: 30px;
}
.border {
  border: solid;
}
.bottom {
  height: 40px;
}
.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}
.datepicker {
  display: inline;
}
.search {
  font-weight: bold;
}

a.red:link {color: #ff0000; font-style: normal;}
a.red:active {color: #ff0000; background: #ffffff; font-style: normal;}
a.red:visited {color: #ff0000; background: #ffffff; font-style: normal;}
a.red:hover {color: #ff0000; background: #ffffff; font-style: normal;}

