<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--STYLES-->
    <link rel="stylesheet" href="/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/style.css">
    <title>Prep Hoops</title>
</head>
<body ng-app="prepHoopsApp">
<div class="page-wrapper">
    <header>
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#dashboard"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" collapse="navCollapsed">
                <ul class="nav navbar-nav">
                    <li><a href="#dashboard">Dashboard</a></li>
                    <!--<li class="dropdown"><a href="#site" class="dropdown-toggle" data-toggle="dropdown">Sites<span class="caret"></span></a>-->
                    <div class="dropdown">
                        <li class="dropdown-toggle" data-toggle="dropdown"><a>Sites<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">North Star Hoops Report</a></li>
                                <li><a href="#">Prep Hoops Iowa</a></li>
                                <li><a href="#">North Star Football News</a></li>
                                <li><a href="#">North Star Girls Hoops</a></li>
                                <li><a href="#">Prep Hoops Illinois</a></li>
                                <li><a href="#">Prep Hoops Indiana</a></li>
                                <li><a href="#">Prep Hoops Ohio</a></li>
                                <li><a href="#">Prep Hoops Kentucky</a></li>
                            </ul>
                        </li>
                    </div>

                    <li><a href="#admin">Admin</a></li>
                    <li class="logout"><a href="#login">Logout</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

    </header>
    <main ng-view class="container-fluid main">
        <!--Angular views display here-->
    </main>
</div>
<footer>
    <h6>Copyright Prep Hoops</h6>
</footer>

<!--Scripts-->
<script type="text/javascript" src="/vendors/angular/angular.min.js"></script>
<script type="text/javascript" src="/vendors/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="/vendors/angular-ui-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="/vendors/angular-ui-bootstrap/ui-bootstrap-csp.css"></script>
<script type="text/javascript" src="/vendors/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="/assets/scripts/project.min.js"></script>
<script type="text/javascript" src="/assets/scripts/controllers/login.min.js"></script>
<script type="text/javascript" src="/assets/scripts/controllers/register.min.js"></script>
<script type="text/javascript" src="/assets/scripts/controllers/dashboard.min.js"></script>
<script type="text/javascript" src="/assets/scripts/controllers/site.min.js"></script>
<script type="text/javascript" src="/assets/scripts/controllers/admin.min.js"></script>
</body>
</html>
