    <div class="col-md-12">
        <h1>Main Dashboard</h1>
    </div>

    <div class="col-md-12">
        <div class="row">
            <h4 class="col-md-4" id="dashboardBanner">Prep Hoops Network Article Stats</h4>
        </div>


    <div class="row">
        <div class="col-md-12 border">
            <div class="row">
                <h4 class="col-md-4" id="dashboardBanner">Prep Hoops Network Article Stats</h4>
                <input type="button" id="runFeeds" class="col-md-1 btn post" ng-click="runParse()" value="Refresh Database"/>
            </div>

            <div class="row">
                <p class="search col-md-1">From:</p>
                <div class="col-md-4 datepicker">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup ng-model="first" is-open="opened1" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                  <span class="input-group-btn">

                    <button type="button" class="btn btn-default" ng-click="open($event, 'opened1')"><i class="glyphicon glyphicon-calendar"></i></button>

                  </span>
                    </p>
                </div>
                <p class="search col-md-1">To:</p>
                <div class="col-md-4 datepicker">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup ng-model="last" is-open="opened2" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                  <span class="input-group-btn">

                    <button type="button" class="btn btn-default" ng-click="open($event, 'opened2')"><i class="glyphicon glyphicon-calendar"></i></button>

                  </span>
                </p>
            </div>

            <input type="button" id="getRSS" class="col-md-1 btn post" ng-click="getRSS(first, last)" value="Submit"/>

        </div>

        <table class="col-md-12 table-dashboard">
            <tr>

                <td class="date">Date</td>
                    <td ng-repeat="site in feeds" ng-click="go('/site')"><a href ="">{{site.siteShortName}}</a></td>
            </tr>
                <tr ng-repeat='day in dates'>
                    <td class="date">{{ day.date }}</td>
                    <td ng-repeat="site in day.site" ng-click="openModal('md')"><a href ="" ng-class="{red: (site.articles.length==0)}">{{site.articles.length}}</a></td>
                </tr>
                <tr>
                    <td></td>
                </tr>

                <tr>
                     <td>Total Articles</td>

                    <td ng-repeat="total in totalArticles track by $index" >{{total}}</td>
                </tr>
                <tr>
                     <td>Daily AVG</td>

                    <td ng-repeat="avg in dailyAvg track by $index" >{{avg}}</td>
                </tr>
                <tr>
                     <td>Zero Days</td>

                    <td ng-repeat="days in zeroDays track by $index" >{{days}}</td>
                </tr>
            </table>
        </div>
    </div>
    </div>
