<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-10 border">
            <h1>Main Dashboard</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1 border">
            <h4 class="col-md-6">Prep Hoops Network Article Stats</h4>
            <input type="button" id="goToAdmin" class="btn col-md-offset-4 post" ng-click="go('/admin')" value="Admin"/>
            <table class="col-md-12">
                <tr>
                    <td>Date</td>
                    <td ng-repeat="site in sites">{{site}}</td>
                </tr>
                <tr ng-repeat="day in dates">
                    <td>{{ day.date }}</td>
                    <td>{{ day.sites[0].Site1[0].articles.length }}</td>
                    <td>{{ day.sites[0].Site2[0].articles.length }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-1 col-md-10 border bottom"></div>
    </div>
</div>


