    <div class="row">
        <div class="col-md-12 border">
            <h1>Main Dashboard</h1>
        </div>
    </div>



    <div class="row">
        <div class="col-md-12 border">
            <div class="row">
                <h4 class="col-md-4" id="dashboardBanner">Prep Hoops Network Article Stats</h4>
                <input type="button" id="goToAdmin" class="btn post col-md-1 col-md-offset-7" ng-click="go('/admin')" value="Admin"/>
            </div>

            <div class="row">
                <p class="search col-md-1">From:</p>
                <div class="col-md-4 datepicker">
                    <p class="input-group">
                        <input type="date" class="form-control" datepicker-popup ng-model="first" is-open="opened1" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                  <span class="input-group-btn">

                    <button type="button" class="btn btn-default" ng-click="open($event, 'opened1')"><i class="glyphicon glyphicon-calendar"></i></button>

                  </span>
                    </p>
                </div>
                <p class="search col-md-1">To:</p>
                <div class="col-md-4 datepicker">
                    <p class="input-group">
                        <input type="date" class="form-control" datepicker-popup ng-model="last" is-open="opened2" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                  <span class="input-group-btn">

                    <button type="button" class="btn btn-default" ng-click="open($event, 'opened2')"><i class="glyphicon glyphicon-calendar"></i></button>

                  </span>
                    </p>
                </div>
                <input type="button" id="getRSS" class="col-md-1 btn post" ng-click="getRSS(first, last)" value="Submit"/>

            </div>

            <table class="col-md-12">
                <tr>
                    <td>Date</td>
                    <td ng-repeat="site in siteIds">{{site}}</td>
                    <!--<td ng-repeat="site in siteIds"><a href="" ng-click="openModal('lg')">{{ site[1][0].length }}</a></td>-->
                </tr>

                <tr ng-repeat='day in dates'>
                    <td>{{ day.date }}</td>
                    <td ng-repeat="site in day.site" ng-click="openModal('md')"><a href ="">{{site.articles.length}}</a></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 border bottom"></div>
    </div>
