<!--<p>Login Page!</p>-->

<section class="container authSection">
    <form class="authForm well well-lg">
        <fieldset>
            <div class="fields">
                <div class="field">
                    <input ng-model="username" type="username" ng-required="true" placeholder="username" class="authInput">
                </div>

                <div class="field">
                    <input ng-model="password" type="password" ng-required="true" placeholder=" Password" class="authInput">
                </div>
            </div>
            <div class="field">
                <input type="submit" ng-click="login()" value="Log In" class="authInput authButton" />
            </div>

        </fieldset>

    </form>
</section>
